            #registermain
            {
                background-color: rgba(0,0,0,0.7);
                height: 2000px;
                width: 120%;
                position: relative;
            }
            #Registercontent
            {
                background-color: white;
                height:470px;
                width: 350px;
                position: absolute;
                top: 100px;
                left: 650px;
                border-radius: 0 10px 10px 0;
                box-shadow: 0 0 10px black;
                border-bottom: yellowgreen solid 4px;
            }
            #registertitle
            {
                font-size: 25px;
                font-weight: bold;
                text-align: center;
                border-radius: 0px 10px 10px 0px;
                color: white;
            }
             input,textArea
             {
                width: 330px;
                background-color: transparent;
                border: none;
                outline: none;
                border-bottom: black solid 1px;    
           }
           #registerimage
           {
               height: 470px;
               width: 250px;
               border-radius: 10px 0 0 10px;
               box-shadow: 0 0 10px black;
               border-bottom: yellowgreen solid 4px;
           }
           #registerimagediv
           {
               position: absolute;
               top: 100px;
               left: 450px;
           }
           input:hover,textarea:hover
           {
              border-bottom: yellowgreen solid 2px;
           }
             #closeregister
                {
                    font-size: 42px;
                    position: absolute;
                    top: -15px;
                    left: 320px;
                    transform: rotate(45deg);
                    cursor: pointer;
                    color:white;
                }
                   #closeregister:hover
                    {
                        color:red;
                    }